.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.test {
  color: black;
  font-style: italic;
  background-color: gold;
  padding: 10px;
  border-radius: 0.6rem;
}

.nice {
  background-color: #61dafb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.counter {
  background-color: #61dafb;
  padding: 20px 80px;
  font-size: 30px;
  border-radius: 0.6rem;
}

.counter2 {
  background-color: burlywood;
  padding: 20px 20px;
  font-size: 10px;
  border-radius: 0.6rem;
}

.box {
  padding: 100px;
  background-color: black;
}

.hooks {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

input {
  height: 50px;
  width: 300px;
}

.nav {
  background-color: white;
  display: flex;
  padding: 20px;
}

.navButton {
  background-color: #282c34;
  color: white;
  padding: 10px;
  font-size: 20px;
  border-radius: 0.6rem;
  margin: 10px;
}

.groupButton {
  margin-left: auto;
}

ul {
  display: flex;
  justify-content: center;
}

li {
  padding: 20px 40px;
  font-size: 20px;
  list-style-type: none;
}

@media (prefers-reduced-motion: no-preference) {
  .test2 {
    animation: App-logo-translate infinite 2s linear;
  }
  .test {
    animation: App-logo-spin infinite 10s linear;
  }
  .App-logo {
    animation: App-logo-spins infinite 10s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg) scale(0.1);
  }
  to {
    transform: rotate(1080deg) scale(2);
  }
}

@keyframes App-logo-spins {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-translate {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(200px);
  }
}
